body 
	{
    background-color: #202020;
	margin-right: 150pt;
	margin-left: 150pt;
	border-style: solid;
    border-color: #B600FF;
	border-width: 7.5pt;
	padding: 12pt;
	font-family: Arial, Sans Serif;
}
h1 
{
    color: black;
	text-shadow: 4pt 5.25pt red;
	text-align: center;
	font-size: 100px;
	border-style: solid;
    border-color: #00D7FF;
	border-width: 6.75pt;
	padding: 4pt;
	font-family: Arial, Sans Serif;
}
h2 
{
	color: #0044FF;
	text-align: center;
	font-size: 36pt;
	text-decoration: overline;
	font-family: Arial, Sans Serif;
}
p 
{
    color: white;
	text-align: center;
	font-size: 15pt;
	text-align: justify;
	border-style: solid;
    border-color: black;
	border-width: 6.75pt;
	padding: 11.25pt;
	font-family: Arial, Sans Serif;
}
img 
{
    display: block;
	margin-right: 20px;
	margin-left: 20px;
	font-family: Arial, Sans Serif;
}
li.contents 
{
	font-size: 22.25pt;
	color: red;
	border-style: solid;
	border-color: #FF00D4;
	border-width: 2pt;
	font-family: Arial, Sans Serif;
}
p.special /* This was used to keep a border from going behind an image by making the border the same colour as the background */
{
	border-color: #202020;
}